a2wsgi==1.10.10
aioboto3==15.5.0
aiobotocore==3.7.0
aiomcache==0.8.2
aioquic==1.3.0
AppKit==0.2.8
apport_python_hook==0.1.0
asyncpg==0.31.0
atheris==3.0.0
awscrt==0.33.0
brotli==1.2.0
brotlicffi==1.2.0.1
ca_certs_locater==1.0
cffi==2.0.0
chardet==7.4.3
colorama==0.4.6
ConfigParser==7.2.0
cython==3.2.5
diskcache==5.6.3
Django==6.0.5
elastic_transport==9.4.0
eval_type_backport==0.3.1
filelock==3.29.0
Flask==3.1.3
Foundation==0.1.0a0.dev1
fqdn==1.5.1
glide==0.4.1
griffecli==2.0.2
grpc_reflection==1.0.0
grpc_tools==1.0.0
gspread==6.2.1
gunicorn==26.0.0
h2==4.3.0
HTMLParser==0.0.2
httptools==0.7.1
hvac==2.4.0
hypothesis==6.152.9
Image==1.5.33
importlib_metadata==9.0.0
importlib_resources==7.1.0
ipython==9.13.0
ipywidgets==8.1.8
isoduration==20.11.0
itsdangerous==2.2.0
Jinja2==3.1.6
jnius==1.1.0
js==1.0
jsonpath_ng==1.8.0
jsonpointer==3.1.1
linux_aio==0.4.1
matplotlib==3.10.9
oauth2client==4.1.3
outcome==1.3.0.post0
pandas==3.0.3
pathvalidate==3.3.1
Pillow==12.2.0
pluggy==1.6.0
prefab_ui==0.20.1
pycryptodome==3.23.0
pycryptodomex==3.23.0
pydantic_monty==0.0.17
pymongo==4.17.0
pyodide==0.0.2
pyOpenSSL==26.2.0
pyperf==2.10.0
PyQt5==5.15.11
pytest==9.0.3
python_bcrypt==0.3.2
python_socks==2.8.1
pyu2f==0.1.5
qtpy==2.4.3
railroad==0.5.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rfc3987_syntax==1.1.0
rocksdict==0.3.29
secretstorage==3.5.0
setuptools==82.0.1
shtab==1.8.0
simplejson==4.1.1
slack_sdk==3.42.0
sniffio==1.3.1
socksio==1.0.0
speedups==2.1.0
SQLAlchemy==2.0.50
tensorflow==2.21.0
thread==2.0.6
typer==0.25.1
types_aiobotocore_dynamodb==3.7.0
types_aiobotocore_s3==3.7.0
types_boto3_secretsmanager==1.43.0
uri_template==1.3.0
urllib3_secure_extra==0.1.0
webcolors==25.10.0
Werkzeug==3.1.8
winloop==0.6.3
wmi==1.5.1
wsproto==1.3.2
xmlrpclib==1.0.1
zstandard==0.25.0
